
#table1{
    background-color: cadetblue;
    border:5px;
    border-color: black;
}
#table2{
    background-color: aquamarine;
    border:5px;
    border-color: black;
}
#table3{
    background-color: darkgrey;
    border:5px;
    border-color: black;
}